.advantages {
    background-color: var(--dark-background-color);
    padding: 20px;
  }
  
  .advantages-title {
    color: var(--inverted-text-color);
    margin-top: 22px;
    font-weight: 600;
  }
  
  .advantages-text {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 18px;
    font-weight: 400;
  }

  .advantages-item {
    width: calc(33.33% - 10px);
    margin-bottom: 32px;
    min-width: 308px;
  }

  .advantages-icon {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .advantages {
        padding: 50px 32px;
      }

      .advantages-list {
        display: flex;
        flex-wrap: wrap;
      }
      
      .advantages-item {
        width: calc(33.33% - 10px);
        margin-bottom: 32px;
        min-width: 308px;
      }

      .advantages-item:nth-child(2) {
        margin-left: 60px;
      }
}

@media screen and (min-width: 1200px) {
    .advantages {
    padding: 50px;
  }

  .advantages-list {
    display: flex;
  }
  
  .advantages-list .advantages-item + .advantages-item {
    margin-left: 88px;
  }
  
  .advantages-item {
    padding-right: 18px;
    position: relative;
  }
  
  .advantages-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
  }
}