.footer {
    position: relative;
    background-color: var(--dark-background-color);
    color: var(--inverted-text-color);
}

.foot-title {
    width: 300px;
    font-weight: 500;
    letter-spacing: -0.02em;
    color: var(--inverted-text-color);
}

.foot-title span {
    color: var(--primary-brand-color);
}

.address-title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    color: var(--inverted-text-color);
}

.address-item {
    margin-bottom: 4px;
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: left;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: var(--inverted-text-color);
}

.social-icon {
    fill: var(--inverted-text-color);
}

.social-icon:hover {
    fill: var(--primary-brand-color);
}

.foot-div::after {
    position: absolute;
    left: auto;
    top: 224px;
    display: block;
    content: "";
    width: 335px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotate(180deg);
    transition-property: color;
   }

.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: var(--inverted-text-color);
    text-decoration: none;
}

@media (max-width: 767px) {
    .footer {
        padding: 32px 0;
    }

    .foot-div {
        display: flex;
        justify-content: space-between;
        padding: 32px 0;
    }

    .foot-title {
        font-size: 24px;
        line-height: 1.17;
    }

    .social-list {
        display: flex;
        gap: 14px;
    }

    .social-icon {
        width: 22px;
        height: 22px;
    }

    .foot-div::after {
        position: absolute;
        left: auto;
        top: 224px;
        display: block;
        content: "";
        width: 335px;
        height: 1px;    
        border: 1px solid rgba(255, 255, 255, 0.1);
        transform: rotate(180deg);
        transition-property: color;
    }

    .foot.nav {
        margin-top: 32px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}


@media (min-width: 768px) {
    .footer {
        padding: 50px 0;
    }
    
    .foot-without-nav {
        display: flex;
        justify-content: space-between;
    }

    .foot-title {
        font-size: 28px;
        line-height: 1.21;
    }

    .foot-div {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .social-list {
        display: flex;
        gap: 18px;
    }
    
    .social-icon {
        width: 24px;
        height: 24px;
    }

    .foot-without-nav::after {
        position: absolute;
        width: 704px;
        height: 1px;
        top: 172px;
        display: block;
        content: "";
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .foot.nav {
        margin-top: 74px;
    }

    .nav-list {
        display: flex;
        gap: 24px;
    }
}
    
@media (min-width: 1200px) {
    .foot-div {
        gap: 63px;
    }
     
    .foot-without-nav::after {
        width: 1136px;
        top: 180px;
    }

    .foot.nav {
        margin-top: 82px;
    }
}