:root {
/* чорний текст, icon */
    --primary-text-color: #111111;
/* білий текст */
    --secondary-text-color: #FFFFFF;
/* оранжевий текст, кнопка, hover */
    --primary-brand-color: #FD9222;

/* сірий фон */
    --light-background-color: #E2E2E2;
/* темно фіолетовий фон */
    --dark-background-color: #1E1823;

/* ще якийсь білий колір з макету */
    --modal-order-button-color: #FAFAFA;
}


.footer {
    background-color: var(--dark-background-color);
    color: var(--secondary-text-color);
}
    
@media (max-width: 767px) {
    .footer {
        display: block;
    }
    
    .foot-cont {
        position: relative;
        padding: 32px 20px;
    }
    
    .foot-div {
        display: flex;
        justify-content: space-between;
        padding: 32px 20px 32px 0;
    }

    .foot-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: -0.02em;
        color: var(--secondary-text-color);
    }

    .address-title {
        margin-bottom: 14px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.29;
        text-align: left;
    }
    
    .address-list {
        margin-top: 4px;
    }

    .address-link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.29;
        text-align: left;
        letter-spacing: -0.02em;
    }

    .social-list {
        display: flex;
        gap: 14px;
    }

    .social-icon {
        width: 22px;
        height: 22px;
        fill: var(--secondary-text-color);
    }
    
    .icon-close:hover {
        fill: var(--background-color);
    }

    .foot-div::after {
        position: absolute;
        width: 335px;
        height: 0px;
        left: auto;
        top: 232px;
        display: block;
        content: "";
        height: 1px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        transform: rotate(180deg);      
        transition-property: color;
    }

    .foot.nav {
        margin-top: 32px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nav-link {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: -0.02em;
    }
 }

    @media (min-width: 768px) and (max-width: 1199px) {
        .footer {
            display: flex;
        }

        .foot-title {
            font-weight: 500;
            font-size: 28px;
            line-height: 1.21;
            letter-spacing: -0.02em;
            color: var(--secondary-text-color);
        }
    }

    @media (min-width: 1200px) {
        .footer {
            display: flex;
        }

        .foot-title {
            font-weight: 500;
            font-size: 28px;
            line-height: 1.21;
            letter-spacing: -0.02em;
            color: var(--secondary-text-color);
        }
    }



.foot-title span {
    color: var(--orange-color);
}



/* Модальное окно */

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: scale(0);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opasity 500ms, visibility 500ms, transform 500ms;
    transform: scale(1);
    background: rgba(46, 47, 66, 0.4);
    visibility: visible
}

.modal {
    position: relative;
    width: 95vw;
    max-width: 408px;
    /*height: 100%;
    max-height: 584px;*/
    padding: 72px 24px 24px 24px;
    background: #FCFCFC;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: background-color, fill;
    cursor: pointer;
}

.close:hover {
    background-color: var(--button-order-hover);
}

.close:hover .icon-close {
    background-color: var(--button-order-hover);
    border: none;
    fill: var(--background-color);
}


.menu-container .icon-close {
    width: 24px;
    height: 24px;
}


.icon-close {
    width: 8px;
    height: 8px;
    fill: #000000;
}

.icon-close:hover {
    fill: var(--background-color);
}