.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-bottom: 32px;
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .header-menu {
    justify-content: initial;
    gap: 188px;
  }
}

.logo {
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}

.logo-second-part {
  font-style: normal;
}

/* .logo-icon {
  translate: 0 6px;
} */

@media screen and (min-width: 1200px) {
  .logo-icon {
    width: 24px;
    height: 24px;
  }
}

.nav-menu-header {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav-menu-header {
    display: flex;
    align-items: center;
    gap: 137px;
  }
}

.nav-menu-header.is-open {
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 220px;

  padding-top: 136px;
  padding-bottom: 20px;

  z-index: 100;
  background-color: var(--dark-background-color);
}

@media screen and(min-width:768px) {
  .nav-menu-header.is-open {
    width: 290px;

    padding-top: 156px;
    padding-bottom: 24px;
  }
}

.nav-list-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 1200px) {
  .nav-list-header {
    flex-direction: row;
  }
}

.nav-link-header {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  color: var(--inverted-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link-header:focus,
.nav-link-header:hover {
  color: var(--primary-brand-color);
}

@media screen and (min-width: 1200px) {
  .nav-link-header {
    color: var(--primary-text-color);
  }
}

.social-list-header {
  display: flex;
  align-self: flex-start;
  gap: 18px;
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .social-list-header {
    margin-left: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .social-list-header {
    align-self: auto;
    margin-left: 0;
  }
}

.menu-btn-open {
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 1200px) {
  .menu-btn-open {
    display: none;
  }
}

.menu-btn-close {
  position: absolute;

  top: 20px;
  right: 20px;

  padding: 0;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn-close {
    top: 24px;
    right: 32px;
  }
}

.menu-icon-close {
  fill: var(--inverted-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-icon-close:focus,
.menu-icon-close:hover {
  fill: var(--primary-brand-color);
}

@media screen and(min-width:768px) {
  .menu-icon-close {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-icon-close {
    display: none;
  }
}

.social-link-icon {
  fill: var(--inverted-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .social-link-icon {
    fill: var(--primary-text-color);
  }
}

.social-link-icon:focus,
.social-link-icon:hover {
  fill: var(--primary-brand-color);
}
