/* mobile */

.secondary-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.chocolate {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 500px;
  border-radius: 15px;
}
.frame_wrapper {
  width: 335px;
}

.youtube-player {
  height: 500px;
}
.youtube-thumbnail {
  height: 500px;
  border-radius: 15px;
}

.play-img-wrapper {
  position: relative;
  /* height: 35px; */
  width: 100%;
}

.youtube-play-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  justify-self: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: url('/play.svg') no-repeat center center;
}

.container-section {
  padding: 14px 20px;
  width: 335px;
  height: 446px;
  border: 1px solid #eceded;
  border-radius: 15px;
  margin-top: 20px;
}

.section-subtitle {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.section-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}

.name {
  color: var(--primary-brand-color);
}

.disc {
  position: relative;
}

.icon-disc {
  position: absolute;
  top: 4px;
  left: -16px;
  width: 8px;
  height: 8px;
  margin-right: 8px;
}

.frame-image-768up {
  display: none;
  border-radius: 15px;
}

.frame-image-768 {
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .frame-image-768 {
    display: none;
  }

  .frame-image-768up {
    display: block;
  }
}

/* @media screen and ({
  
} */

#iframe-hide {
  display: none;
}

.frame-image-wrapper {
  position: relative;
  fill: white;
}

.how-its-made-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
}
.play-icon-svg {
  width: 44px;
  height: 44px;
}

/* tablet */
@media screen and (min-width: 768px) {
  .secondary-title {
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .chocolate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
    margin: 0 p;
  }
  /* 
  iframe {
    width: 100%;
    height: 400px;
    border-radius: 15px;
  } */

  .frame_wrapper {
    width: 614px;
  }

  .youtube-container {
    height: 400px;
    /* position: relative; */
  }

  .youtube-player {
    height: 400px;
  }
  .youtube-thumbnail {
    height: 400px;
    border-radius: 15px;
  }

  .youtube-play-btn {
    height: 44px;
    width: 44px;
  }

  .container-section {
    padding: 32px;
    width: 614px;
    height: 356px;
    border: 1px solid #eceded;
    border-radius: 15px;
  }
  .section-subtitle {
    width: 350px;
    height: 48px;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
  }
  .section-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .chocolate {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .frame_wrapper {
    width: 600px;
  }

  .container-section {
    padding: 32px;
    margin: 0;
    width: 516px;
    height: 400px;
    border: 1px solid #eceded;
    border-radius: 15px;
  }

  .section-text {
    width: 452px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    gap: 24px;
  }

  .youtube-thumbnail {
    border-radius: 15px;
  }
}
