/* global backdrop for all modales*/
.backdrop-modals {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: scroll;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;

  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* backdrop when js add class active */
.backdrop-modals.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

/* center position modals */
.general-modals {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;

  /* hide modal */
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

  background: var(--light-background-color);
  border-radius: 15px;
}

/* landspace and min-width 768 fix for tablet */
@media screen and (orientation: landscape) and (max-width: 768px) {
  .general-modals {
    top: 0;
    left: 50%;
    transform: translate(-50%, 2%);
  }
}

/* laptom modal center */
@media screen and (min-width: 1200px) {
  .general-modals {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* fix  top sellers modal*/
@media screen and (min-width: 320px) and (max-width: 1200px) {
  .order-modal_window.general-modals {
    top: 0;
    left: 50%;
    transform: translate(-50%, 2%);
  }
}

/* show modal when js add active class to modal*/
.modal1.active,
.modal2.active,
.modal3.active,
.modal9.active {
  visibility: visible;
  opacity: 1;
  pointer-events: initial;
}

/* ---EXEMPLE--- */
/* If your modal number is 2,3,4 use this num when add .modal*.active class 
like .modal2.active ,  .modal3.active...
*/

.modal-close {
  position: absolute;
  right: 14px;
  top: 14px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .modal-close {
    right: 24px;
    top: 24px;
  }
}

/* Гайд лайн по модалке */
/* 
1) В файл backdrop-modal.html закидываете свою модалку (БЕЗ BACKDROP он у нас один общий)
2) В главный div вашей модалки вставляете следущие классы  modal и modal1 (НЕЛЬЗЯ ДУБЛИРОВАТЬ НОМЕРА)
Первый номер уже занят rewiews. И сразу же этому Div добавляете атрибут  data-modal="1" (Номер соответствует номеру который вы выбрали для класса modal)
Если вы выбрали номер два, то пишите в классы дива  modal modal2  и добавляете атрибут сюда же data-modal="2"

3) На кнопку закрытия модального окна вешаете классы modal-close js-modal-close

4) На кнопку открытия модалки вешаете класс js-open-modal И атрибут data-modal="1", Если у Вас число 2, то будет data-modal="2" (Номер соответствует номеру который вы выбрали для класса modal)

5) Используйте общие классы, .general-modals , .modal-close Они описаны выше
6) Готово
*/
