.our-products {
  background-color: var(--light-background-color);
}
.o_p-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  color: var(--primary-brand-color);
}
.o_p-title > span {
  color: var(--primary-text-color);
}
.o_p-list {
  display: flex;
  gap: 18px;
}
.o_p-item {
  background-color: var(--inverted-text-color);
  padding: 20px 32px;
  border: 1px solid var(--light-stroke-color);
  border-radius: 15px;
}
.o_p-card-block {
  text-align: center;
}
.o_p-card-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  margin-top: 8px;
  color: var(--primary-text-color);
}
.o_p-name-product {
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  margin-top: 2px;
  color: var(--light-text-color);
}

.o_p-card-price {
  display: inline-block;
  font-weight: 600;
  line-height: 1.21;
  text-align: center;
  color: var(--primary-text-color);
  margin-top: 18px;

  background: #fafafa;
  border: 1px solid var(--light-stroke-color);
  border-radius: 100px;
  padding: 8px 20px;
}
