.our-products {
  background-color: #e2e2e2;
}
.o_p-title {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #fd9222;
}
.o_p-title > span {
  color: #111111;
}
.o_p-list {
  display: flex;
  gap: 18px;
}
.o_p-item {
  background-color: #ffffff;
  padding: 20px 32px;
}
.o_p-card-block {
  text-align: center;
}
.o_p-card-name {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 8px;
  color: #111111;
}
.o_p-name-product {
  font-family: 'Montserrat';
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 2px;
  color: rgba(17, 17, 17, 0.7);
}

.o_p-card-price {
  display: inline-block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #111111;
  margin-top: 18px;

  background: #fafafa;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 8px 20px;
}
