.reviews {
  padding-bottom: 70px;
}

.reviews > .container {
  width: 100%;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .reviews > .container {
    padding: 0 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews > .container {
    max-width: 1200px;
  }
}

.reviews-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    margin-bottom: 50px;
  }
}

.reviews-title .title-brand {
  color: var(--primary-brand-color);
}

.reviews-wrapper-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.reviews-item-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-item-text {
  line-height: 1.18;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;

  border: 1px solid var(--primary-brand-color);
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.12;
  background-color: transparent;
  color: var(--primary-text-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus {
  background-color: var(--primary-brand-color);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .reviews-button {
    padding: 14px 40px;
  }
}

/* Slider geometry */
.reviews__list {
  width: 100%;
  margin: 0 auto;
}

.reviews__item {
  padding-top: 40px;
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
}

.reviews__box {
  position: relative;
  width: 270px;
  height: 200px;
  margin: 0 auto;

  padding-top: 56px;
  padding-left: 18px;
  padding-right: 18px;

  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

@media screen and (min-width: 375px) {
  .reviews__box {
    width: 335px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews__box {
    width: 360px;
  }
}

/* pagination */
.slick-dots {
  height: 13px;

  /*posotion dots */
  bottom: -20px;
  transform: translate(0, 100%);
}

@media screen and (min-width: 768px) {
  .slick-dots {
    bottom: -30px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 65px;
}

@media screen and (min-width: 728px) {
  .slick-dotted.slick-slider {
    margin-bottom: 95px;
  }
}

.slick-dots li {
  width: 13px;
  height: 13px;
  margin: 0;
}

.slick-dots li.slick-active {
  width: 28px;
  background-color: var(--primary-brand-color);
  border-radius: 14px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.1);
}

.slick-dots li button:before {
  content: '';
  position: static;
}

.slick-dots li {
  margin: 0;
  margin-right: 13px;
}
.slick-dots li:last-child() {
  margin-right: 0;
}

/* reviews modal styles */
.reviews-modals {
  width: 311px;
  padding: 32px 24px;
}

@media screen and (min-width: 768px) {
  .reviews-modals {
    width: 517px;
    padding: 40px;
  }
}

/* reviews close button */
.reviews-button-close {
  width: 24px;
  height: 24px;
}

.reviews-modal-icon {
  height: 21px;
}

.reviews-modal-title {
  width: 100%;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.modal-title-fix {
  display: block;
}

@media screen and (min-width: 768px) {
  .modal-title-fix {
    display: inline;
  }
}

.reviews-modal-title .modal-title-brand {
  color: var(--primary-brand-color);
}

@media screen and (min-width: 768px) {
  .modal-title-brand {
    display: block;
  }
}

.reviews-modal-wrapper {
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .reviews-modal-wrapper {
    margin-bottom: 19px;
  }
}

.reviews-modal-input {
  width: 100%;
  padding-left: 18px;
  padding-bottom: 14px;
  padding-top: 14px;

  color: #000000;
  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  /* box-shadow: 0px 2.04932px 15.5717px rgba(215, 228, 249, 0.25); */

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .reviews-modal-input {
    padding-bottom: 22px;
    padding-top: 22px;
    padding-left: 24px;

    font-size: 18px;
  }
}

.reviews-modal-input:hover {
  border: 1.5px solid var(--primary-brand-color);
}

.reviews-modal-input:focus {
  border: 1.5px solid var(--primary-brand-color);
}

.reviews-modal-input:active {
  border: 1.5px solid var(--primary-brand-color);
}

.reviews-modal-input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .reviews-modal-input::placeholder {
    font-size: 18px;
    line-height: 1.21;
  }
}

.reviews-modal-textarea {
  display: block;
  width: 100%;
  min-height: 91px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  margin-bottom: 18px;

  outline: none;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  resize: none;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
}

.reviews-modal-textarea:hover,
.reviews-modal-textarea:focus,
.reviews-modal-textarea:target {
  border: 1.5px solid var(--primary-brand-color);
}

@media screen and (min-width: 768px) {
  .reviews-modal-textarea {
    min-height: 137px;
    font-size: 18px;
  }
}

.reviews-modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

@media screen and (min-width: 768px) {
  .reviews-modal-textarea::placeholder {
    font-size: 18px;
  }
}

.review-modal-phone-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.phone-input {
  padding-left: 106px;
}

@media screen and (min-width: 768px) {
  .phone-input {
    padding-left: 177px;
    font-size: 18px;
  }
}

.phone-inner {
  position: absolute;
  display: flex;
  align-items: center;
  height: 25px;

  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;

  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

@media screen and (min-width: 768px) {
  .phone-inner {
    border-right: 3px solid rgba(17, 17, 17, 0.1);
  }
}

.phone-inner-icon {
  width: 24px;
  height: 24px;
}

.phone-inner-code {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  margin: 0 8px;
}

@media screen and (min-width: 768px) {
  .phone-inner-code {
    font-size: 18px;
    margin: 0 32px 0 18px;
  }
}

.review-modal-button {
  padding: 12px 28px;
  border-radius: 100px;

  font-weight: 600;
  background-color: var(--primary-brand-color);
  color: var(--inverted-text-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.review-modal-button:hover,
.review-modal-button:focus {
  background-color: var(--secondary-brand-color);
  color: var(--primary-brand-color);
}

@media screen and (min-width: 768px) {
  .review-modal-button {
    padding: 14px 40px;
  }
}

/* Feedback modal */
.reviews-feedback-modals {
  width: 311px;
  height: 350px;
  padding-top: 84px;
  padding-left: 58px;
  letter-spacing: -0.02em;

  background-color: var(--primary-brand-color);
  background-image: url('/../img/thank-you/background-mobile.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}

@media screen and (min-width: 768px) {
  .reviews-feedback-modals {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 517px;
    height: 414px;
    padding: 0;
    padding-right: 50px;

    background-image: url('/../img/thank-you/background-desktop.png');
  }
}

.reviews-feedback-button-close {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--secondary-brand-color);
}

@media screen and (min-width: 768px) {
  .reviews-feedback-button-close {
    width: 38px;
    height: 38px;
  }
}

.reviews-feedback-modal-icon {
  height: 14px;
  fill: #d44528;
}

@media screen and (min-width: 768px) {
  .reviews-feedback-modal-icon {
    height: 19px;
  }
}

.reviews-feedback-content {
  width: 232px;
}

@media screen and (min-width: 768px) {
  .reviews-feedback-content {
    width: 297px;
  }
}

.reviews-feedback-modal-title {
  margin-bottom: 8px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;

  text-transform: uppercase;
  color: var(--secondary-brand-color);
}

@media screen and (min-width: 768px) {
  .reviews-feedback-modal-title {
    font-size: 24px;
    line-height: 1.16;
  }
}

.reviews-feedback-modal-title span {
  display: block;
}

.reviews-feedback-modal-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;

  color: #ffffff;
}

.reviews-feedback-modal-text {
  font-size: 18px;
  line-height: 1.33;
}
