.reviews {
  padding-bottom: 70px;
}
.reviews-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
}
.reviews-title .title-brand {
  color: var(--primary-brand-color);
}
.reviews-list {
}
.reviews-item {
}
.reviews-wrapper-image {
}
.reviews-logo {
}
.reviews-item-title {
}
.reviews-item-text {
}
.reviews-button {
}
