.reviews {
  padding-bottom: 70px;
  background-color: #fafafa;
}

.reviews-title {
  margin-bottom: 32px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    margin-bottom: 50px;
  }
}

.reviews-title .title-brand {
  color: var(--primary-brand-color);
}

.reviews-wrapper-image {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.reviews-item-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
}

.reviews-item-text {
  line-height: 1.18;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  display: block;
  margin: 0 auto;
  padding: 12px 28px;

  border: 1px solid var(--primary-brand-color);
  border-radius: 100px;

  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.12;
  background-color: transparent;
  color: var(--primary-text-color);

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.reviews-button:hover,
.reviews-button:focus {
  background-color: var(--primary-brand-color);
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .reviews-button {
    padding: 14px 40px;
  }
}

/* Slider geometry */
.reviews__list {
  width: 100%;
  margin: 0 auto;
}

.reviews__item {
  padding-top: 40px;
}

.reviews__box {
  position: relative;
  width: 270px;
  height: 200px;
  margin: 0 auto;

  padding-top: 56px;
  padding-left: 18px;
  padding-right: 18px;

  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

@media screen and (min-width: 428px) {
  .reviews__box {
    width: 335px;
  }
}

@media screen and (min-width: 1200px) {
  .reviews__box {
    width: 360px;
  }
}

/* pagination */
.slick-dots {
  height: 13px;

  /*posotion dots */
  bottom: -20px;
  transform: translate(0, 100%);
}

@media screen and (min-width: 768px) {
  .slick-dots {
    bottom: -30px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 65px;
}

@media screen and (min-width: 728px) {
  .slick-dotted.slick-slider {
    margin-bottom: 95px;
  }
}

.slick-dots li {
  width: 13px;
  height: 13px;
  margin: 0;
}

.slick-dots li.slick-active {
  width: 28px;
  background-color: var(--primary-brand-color);
  border-radius: 14px;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(17, 17, 17, 0.1);
}

.slick-dots li button:before {
  content: '';
  position: static;
}

.slick-dots li {
  margin: 0;
  margin-right: 13px;
}
.slick-dots li:last-child() {
  margin-right: 0;
}

/* modal */

.backdrop-reviews {
  background: rgba(46, 47, 66, 0.4);
  height: 1000px;
  padding: 50px;
}
.reviews-modal {
  position: relative;
  width: 311px;
  padding: 32px 24px;

  background: #fafafa;
  border-radius: 15px;
}

.reviews-button-close {
  position: absolute;
  right: 14px;
  top: 14px;
}

.js-modal-close {
}

.reviews-modal-icon {
}

.reviews-modal-title {
  width: 250px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}

.reviews-modal-title span {
  color: var(--primary-brand-color);
}

.reviews-modal-form {
}

.reviews-modal-wrapper {
  margin-bottom: 14px;
}

.reviews-modal-input {
  width: 100%;
  padding-left: 18px;
  padding-bottom: 14px;
  padding-top: 14px;
  /* margin-bottom: 14px; */

  color: #000000;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;

  /* transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.reviews-modal-input::placeholder {
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.reviews-modal-textarea {
  display: block;
  width: 100%;
  min-height: 91px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 14px;
  margin-bottom: 18px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  resize: none;

  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #000000;
}
.reviews-modal-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-modal-phone-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.phone-input {
  padding-left: 106px;
}

.phone-inner {
  position: absolute;
  display: flex;
  align-items: center;

  /* width: 74px; */
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 18px;
  border-right: 1.5px solid rgba(17, 17, 17, 0.05);
}

.phone-inner-code {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0 8px;
}

.review-modal-button {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: var(--primary-brand-color);
  color: #ffffff;
}
