.subscribe {
    max-width: 1200px;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
    /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(./img/subscribe/subcribe-mobile.jpg);*/
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        image-set("./img/subscribe/subcribe-mobile.jpg" 1x, "./img/subscribe/subcribe-mobile.jpg" 2x);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--dark-background-color);
    color: var(--inverted-text-color);
}

.subscribe-div {
    padding: 62px 0;
}

.subscribe .section-title {
    width: 291px;
    margin: 0 auto;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.subscribe-text {
    max-width: 326px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    text-align: center;
    letter-spacing: -0.02em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.subscribe-button {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;  
    /*border: none;
    border-radius: 100px;
    text-align: center;
    background-color: var(--primary-brand-color);
    color: var(--inverted-text-color);
    align-items: center;
    width: 128px;
    height: 41px;
    transition-property: background-color;*/
}
    
/*.subscribe-button:hover {
    background-color: var(--secondary-brand-color);
    color: var(--primary-brand-color);
}*/


@media (min-width: 768px) {
    .subscribe {
        /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/subcribe-tablet.jpg);*/
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            image-set("./img/subscribe/subcribe-tablet.jpg" 1x, "./img/subscribe/subcribe-tablet.jpg" 2x);
    }

    .subscribe-div {
        padding: 72px 0;
    }

    .subscribe .section-title {
        width: 378px;
        margin: 0 auto;
        font-weight: 600;
        font-size: 24px;
        line-height: 1.17;
        margin-bottom: 24px;
    }

    .subscribe-text {
        max-width: 467px;
    }

    .subscribe-button {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.22;
        /*width: 172px;
        height: 50px;*/
    }
}

@media (min-width: 1200px) {
    .subscribe {
        /*background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(./img/subscribe/subcribe-desktop.jpg);*/
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            image-set("./img/subscribe/subcribe-desktop.jpg" 1x, "./img/subscribe/subcribe-desktop.jpg" 2x);
    }
}



                                    /* Модальное окно */

 /*.backdrop.is-hidden {
     visibility: hidden;
     opacity: 0;
     pointer-events: none;
 }

 .backdrop.is-hidden .modal {
     transform: scale(0);
 }*/

 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
     transition: opasity 500ms, visibility 500ms, transform 500ms;
     transform: scale(1);
     background: rgba(46, 47, 66, 0.4);
     visibility: visible
 }

 .subscribe-modal {
     position: relative;
     width: 95vw;
     max-width: 311px;
     height: 350px;
     background: var(--inverted-text-color);
     border-radius: 15px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
 }


.subscribe-modal-img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.form-title {
    width: 263px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: left;
    color: var(--primary-text-color);
    margin: 32px 24px 24px 24px;
}

.form-title span {
    color: var(--primary-brand-color);
}

.submit-form-input {
    position: relative;
}

.submit-btn {
    position: absolute;
    right: 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    /*border: none;
    border-radius: 100px;
    text-align: center;
    background-color: var(--primary-brand-color);
    color: var(--inverted-text-color);
    align-items: center;
    width: 100px;
    height: 45px;
    transition-property: background-color;*/
}

.submit-form {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.foot-input {
    position: relative;
    width: 263px;
    /*width: 100%;*/
    height: 45px;
    border-radius: 100px;
    border: 1px solid var(--light-stroke-color);
    margin-left: 24px;
}

::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    padding-left: 18px;
}

.submit-form .close {
    position: absolute;
    top: -263px;
    right: 14px;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
 }

.submit-form .close-icon {
    width: 24px;
    height: 24px;
    fill: var(--inverted-text-color);
}

.submit-form .close:hover .close-icon {
    fill: var(--primary-brand-color);
}


@media (min-width: 768px) {
    .subscribe-modal {
        max-width: 538px;
        height: 412px;
    }

    .form-title {
        width: 298px;
        font-size: 24px;
        line-height: 1.17;
        margin: 40px 40px 28px 40px;
    }

    .submit-btn {
        position: absolute;
        right: -144px;
        width: 137px;
        height: 52px;
    }

    .foot-input {
        width: 313px;
        height: 52px;
        margin-left: 40px;
    }

    .foot-input::placeholder {
        font-size: 18px;
        line-height: 1.22;
        padding-left: 24px;
    }

    .submit-form .close {
        top: -300px;
        right: 24px;
    }

    .submit-form .close-icon {
        width: 28px;
        height: 28px;
    }
}