.top-sellers {
  padding-top: 72px;
  padding-bottom: 72px;
}
.top-sellers-title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.akcent-title {
  color: var(--orange-color);
}
.top-sellers-list {
  display: flex;
  flex-wrap: wrap;
}
.top-sellers-showcase img {
  max-width: 368px;
  height: 464px;
  border-radius: 15px;
}
.top-sellers-comment-mobile {
  margin-top: 20px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--primary-text-color);
  width: 306px;
}
@media screen and (max-width: 767px) {
  .buy-button-brand {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    gap: 14px;
    width: 120px;
    height: 41px;
    color: var(--inverted-text-color);
    background-color: var(--primary-brand-color);
    border-radius: 100px;
    border: none;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buy-button-brand:hover {
    color: var(--primary-brand-color);
    background-color: var(--secondary-brand-color);
  }
}
@media screen and (max-width: 1199px) {
  .candy {
    display: none;
  }
}
/* TABLET */
@media screen and (max-width: 768px) {
  .top-sellers-comment-tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .top-sellers {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .top-sellers-title {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
  }
  .top-sellers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .top-sellers-showcase :not(:last-child) {
    margin-right: 16px;
  }
  .top-sellers-showcase img {
    max-width: 344px;
    height: 464px;
    border-radius: 15px;
  }
  .top-sellers-for-mobile {
    display: none;
  }
  .top-sellers-for-tablet {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
  }
  .top-sellers-comment-tablet {
    display: block;
    margin-top: 20px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
    max-width: 306px;
  }
  .buy-button-brand {
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    align-items: center;
    padding: 12px 28px;
    gap: 14px;
    width: 120px;
    height: 41px;
    color: var(--inverted-text-color);
    background-color: var(--primary-brand-color);
    border-radius: 100px;
    border: none;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .buy-button-brand:hover {
    color: var(--primary-brand-color);
    background-color: var(--secondary-brand-color);
  }
}
/* DESKTOP */
@media screen and (min-width: 1200px) {
  .top-sellers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .top-sellers-showcase {
    flex-basis: calc((100% - 2 * 32px) / 3);
  }
  .top-sellers-showcase :last-child {
    margin-right: 0;
  }
  .top-sellers-showcase img {
    max-width: 368px;
    height: 464px;
    border-radius: 15px;
  }
  .top-sellers-comment-tablet {
    display: block;
    margin-top: 20px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: -0.02em;
    color: var(--primary-text-color);
    max-width: 407px;
  }
}
/* MODAL */

.order-modal_window {
  width: 311px;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;

  background: var(--light-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .order-modal_window {
    width: 609px;
  }
}

.order-modal_window-close {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  margin: 0;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-modal_window-close-icon {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  fill: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.order-modal_window-close-icon:hover,
.order-modal_window-close-icon:focus {
  color: var(--primary-brand-color);
  background-color: #fcf1e0;
}
.order-modal-title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.akcent-title {
  color: var(--primary-brand-color);
}

/* SLIDER */
/*  .slick-dotted.slick-slider*/
.order-swiper-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}

.order-swiper-wrapper .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.order-swiper-wrapper .slick-dots {
  /* reset pagination */
  height: 13px;
  bottom: -27px;
  transform: none;
}

.order-swiper-wrapper.slick-dotted.slick-slider {
  margin-bottom: 60px;
}

.order-swiper-slide {
  width: 231px;
  height: 257px;
  margin: 0 auto;

  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .order-swiper-slide {
    width: 160px;
    height: 196px;
  }
}

.box-test {
  height: 100%;
  background-color: var(--inverted-text-color);
}

@media screen and (min-width: 768px) {
  .box-test {
    width: 160px;
    background-color: var(--inverted-text-color);
  }
}

.order-slider-image {
  position: relative;
  padding: 32px 32px 28px 32px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .order-slider-image {
    padding: 24px 20px 0 20px;
  }
}

.weight-selection {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  padding: 8px 0px;
  width: 97px;

  font-weight: 600;
  background: var(--light-background-color);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
}

@media screen and (min-width: 768px) {
  .weight-selection {
    /* padding: 8px 29px; */
    font-size: 14px;
    line-height: 1.21;
  }
}

.slider-demonstrate {
  width: 167px;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .slider-demonstrate {
    width: 120px;
  }
}

.order-slider .swiper-pagination {
  bottom: 0;
}

.order-slider .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: var(--primary-brand-color);
  background: rgba(17, 17, 17, 0.553);
}
.order-slider .swiper-pagination-bullet-active {
  width: 28px;
  height: 13px;
  border-radius: 32px;
  background: #fd9222;
}
.order-modal-form {
  top: 32px;
}
.customer-form-field {
}
.form-field-tablet {
  display: flex;
  flex-wrap: wrap;
}
.form-field {
  width: 100%;
  margin-bottom: 18px;
}
.customer-form-label {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.customer-form-input {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: var(--light-background-color);
  border-radius: 8px;
  padding: 14px 18px 14px 18px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.customer-form-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}
.customer-form-input_for-number {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 8px;
  background-color: var(--light-background-color);
  padding-left: 106px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-form-input_for-number::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.customer-form-input_for-number:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}
.country-code {
  margin-top: 4px;
  display: block;
  position: relative;
}
.flag-icon {
  position: absolute;
  display: block;
  top: 0;
  left: 18px;
}
.card-code {
  margin-top: 4px;
  display: block;
  position: relative;
}
.mastercard-icon {
  position: absolute;
  display: block;
  top: 18px;
  right: 16px;
}
.comment {
}
.comment-input {
  resize: none;
  padding: 8px 16px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 8px;
  background-color: var(--light-background-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.comment-input:focus {
  outline: none;
  border-color: var(--primary-brand-color);
}
.modal-button-brand {
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 28px;
  max-width: 133px;
  height: 41px;
  color: var(--inverted-text-color);
  background: var(--primary-brand-color);
  border-radius: 100px;
  border: none;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-brand:hover {
  color: var(--primary-brand-color);
  background-color: #fcf1e0;
}
/* MODAL TABLET */
@media screen and (min-width: 768px) {
  .form-field-tablet {
    display: flex;
    flex-wrap: nowrap;
    gap: 21px;
  }
}

}