.button-brand {
  border-radius: 50%;
  padding: 12px 28px;
  background-color: var(--primary-brand-color);
  font-weight: 600;
  color: var(--white-color);
}

.button-brand:hover,
.button-brand:focus {
  background-color: var(--secondary-brand-color);
  color: var(--primary-brand-color);
}

@media screen and (min-width: 768px) {
  .button-brand {
    padding: 14px 40px;
  }
}
