<div id="overlay" class="backdrop-modals js-backdrop-modal">
  <!-- review modal - 1 -->
  <div class="reviews-modals general-modals modal modal1" data-modal="1">
    <button class="reviews-button-close modal-close js-modal-close">
      <svg class="reviews-modal-icon">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="reviews-modal-title">
      <span class="modal-title-fix">Leave a review </span>about
      <span class="modal-title-brand">our chocolate</span>
    </h2>

    <form class="reviews-modal-form" name="reviews" id="test">
      <div class="reviews-modal-wrapper">
        <label class="visually-hidden" for="name">Name</label>
        <input
          id="name"
          class="reviews-modal-input"
          type="text"
          name="name"
          placeholder="Name"
          required
        />
      </div>

      <div class="reviews-modal-wrapper">
        <label class="visually-hidden" for="email">Email</label>
        <input
          id="email"
          class="reviews-modal-input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>

      <div class="reviews-modal-wrapper review-modal-phone-wrapper">
        <label class="visually-hidden" for="phone">Phone number</label>
        <input
          id="phone"
          class="reviews-modal-input phone-input"
          type="number"
          name="phone"
          placeholder="Phone number"
          required
        />

        <div class="phone-inner">
          <svg class="phone-inner-icon">
            <use href="./img/sprite.svg#flag-ua"></use>
          </svg>
          <span class="phone-inner-code">+380</span>
        </div>
      </div>

      <label class="visually-hidden" for="phone">Your review</label>
      <textarea
        id="review-about"
        class="reviews-modal-textarea"
        type="text"
        name="review-about"
        placeholder="Enter text"
      ></textarea>

      <button
        type="submit"
        class="review-modal-button js-open-modal review-button"
        data-modal="2"
      >
        Send
      </button>
    </form>
  </div>

  <!-- review modal - 2 -->
  <div
    class="reviews-feedback-modals general-modals modal modal2"
    data-modal="2"
  >
    <button class="reviews-feedback-button-close modal-close js-modal-close">
      <svg class="reviews-feedback-modal-icon">
        <use href="./img/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="reviews-feedback-content">
      <h2 class="reviews-feedback-modal-title">
        thank you <span>for your feedback!</span>
      </h2>
      <p class="reviews-feedback-modal-text">
        We are so happy to hear from you!
      </p>
    </div>
  </div>

  <!-- put your modals in here -->

<!-- Модальное окно в subscribe "Explore our new chocolate first"
        <div class="backdrop-modals is-hidden acвtive" data-modal="9">-->
  <div class="subscribe-modal general-modals modal modal9" data-modal="9">

    <picture class="subscribe-modal-img">
      <source srcset="
                                  ./img/explore/review-desktop.jpg  1x,
                                  ./img/explore/review-desktop@2x.jpg  2x" media="(min-width: 768px)">
      <img class="subscribe-modal-img" srcset="
                                  ./img/explore/review-mobile.jpg  1x,
                                  ./img/explore/review-mobile@2x.jpg  2x" src="./img/explore/review-mobile.jpg"
        alt="Chocolate">
    </picture>

    <h3 class="form-title">Explore our<br><span> new chocolate</span> first!</h3>
    <form class="submit-form" name="submit-form" autocomplete="on">
      <div class="submit-form-input">
        <input class="foot-input" type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          placeholder="Enter your email" required>

        <button class="submit-btn button-brand" type="submit">Submit</button>
      </div>

      <button class="close js-modal-close" type="button">
        <svg class="close-icon">
          <use href="./img/sprite.svg#close"></use>
        </svg>
      </button>
    </form>
</div>


</div>
