<header class="header">
    <div class="container header-menu">

        <div class="header-logo">
            <a class="logo link" href="./index.html">Simply <span class="logo-second-part">Chocolate</span>
            </a>
            <a class="logo-link-icon" href="./index.html"><svg class="logo-icon">
                    <use href="./img/sprite.svg#logo"></use>
                </svg></a>
        </div>


        <div class="mob-menu-header js-menu-container">

            <ul class="list-header list">
                <li class="item-header">
                    <a class="link-header link" href="#header">Home</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#how-its-made">How it's made?</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#our-products">Our products</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#top-sellers">Top sellers</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#reviews">Chocolate is loved</a>
                </li>
            </ul>


            <ul class="social-list-header list">
                <li class="social-item-header">
                    <a class="social-mob-link-header link instagram" href="https://www.instagram.com/">
                        <svg class="social-mob-link-icon instagram">
                            <use href="./img/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social-item-header">
                    <a class="social-mob-link-header link twitter" href="https://twitter.com/">
                        <svg class="social-mob-link-icon twitter" width="20" height="20">
                            <use href="./img/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>


            <button class="menu-btn-close menu-toggle js-close-menu" type="button">
                <svg class="menu-icon-close">
                    <use href="./img/sprite.svg#close"></use>
                </svg>
            </button>

        </div>

        <div class="desc-menu-header">

            <ul class="list-header list">
                <li class="item-header">
                    <a class="link-header link" href="#header">Home</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#how-its-made">How it&apos;s made?</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#our-products">Our products</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#top-sellers">Top sellers</a>
                </li>

                <li class="item-header">
                    <a class="link-header link" href="#reviews">Chocolate is loved</a>
                </li>
            </ul>


            <ul class="social-list-header list">
                <li class="social-item-header">
                    <a class="social-desc-link-header link" href="https://www.instagram.com/">
                        <svg class="social-link-icon" width="24" height="24">
                            <use href="./img/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social-item-header">
                    <a class="social-desc-link-header link" href="https://twitter.com/">
                        <svg class="social-desc-link-icon" width="24" height="24">
                            <use href="./img/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>


        <button class="menu-btn-open menu-toggle js-open-menu" type="button" aria-expanded="false"
            aria-controls="mobile-menu">
            <svg class="menu-icon-open">
                <use href="./img/sprite.svg#burger"></use>
            </svg>
        </button>
    </div>

</header>