<header class="header section">
    <div class="container header-menu">

        <div class="header-logo">
            <a class="logo link" href="">Simply <span class="logo-second-part">Chocolate</span>
                <svg class="logo-icon" width="21" height="21">
                    <use href="../img/sprite.svg#logo"></use>
                </svg>
            </a>
        </div>

        <div class="nav-menu-header">
            <ul class="nav-list-header list">
                <li class="nav-item-header">
                    <a class="nav-link-header link" href="#header">Home</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header link" href="#how-its-made">How it's made?</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header link" href="#our-products">Our products</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header link" href="#top-sellers">Top sellers</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header link" href="#reviews">Chocolate is loved</a>
                </li>
            </ul>

            <ul class="social-list-header list">
                <li class="social-item-header">
                    <a class="social-link-header link" href="#instagram">
                        <svg class="social-link-icon" width="22" height="22">
                            <use href="../img/sprite.svg#instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social-item-header">
                    <a class="social-link-header link" href="#twitter">
                        <svg class="social-link-icon" width="20" height="20">
                            <use href="../img/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <button class="menu-btn-close" type="button">
                <svg class="menu-icon-close" width="28" height="28">
                    <use href="../img/sprite.svg#close"></use>
                </svg>
            </button>
        </div>

        <button class="menu-btn-open" type="button">
            <svg class="menu-icon-open" width="21" height="14">
                <use href="../img/sprite.svg#burger"></use>
            </svg>
        </button>

    </div>

</header>