<header class="header section">
    <div class="container header-menu">

        <div class="header-logo">
            <a class="logo" href="">SIMPLY<span class="logo-second-part">CHOCOLATE</span>
                <svg class="logo-icon" width="21" height="21">
                    <use href="./images/symbol-defs.svg#logo"></use>
                </svg>
            </a>
        </div>

        <div class="nav-menu-header">
            <ul class="nav-list-header list">
                <li class="nav-item-header">
                    <a class="nav-link-header" href="#home">Home</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header" href="#how-its-made">How it's made?</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header" href="#our-products">Our products</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header" href="#top-sellers">Top sellers</a>
                </li>

                <li class="nav-item-header">
                    <a class="nav-link-header" href="#chocolate-is-loved">Chocolate is loved</a>
                </li>
            </ul>

            <ul class="social-list-header list">
                <li class="social-item-header">
                    <a class="social-link-header" href="#instagram">
                        <svg width="22" height="22">
                            <use href="./images/symbol-defs.svg#instagram"></use>
                        </svg>
                    </a>
                </li>

                <li class="social-item-header">
                    <a class="social-link-header" href="#twitter">
                        <svg width="20" height="20">
                            <use href="./images/symbol-defs.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>

            <button class="menu-btn-close" type="button">
                <svg class="menu-icon-close" width="11.67" height="11.67">
                    <use href="./images/symbol-defs.svg#close"></use>
                </svg>
            </button>
        </div>

        <button class="menu-btn-open" type="button">
            <svg class="menu-icon-open" width="21" height="14">
                <use href="./images/symbol-defs.svg#burger"></use>
            </svg>
        </button>

    </div>

</header>