<section id="hero" class="hero section">
  <div class="container">
    <div class="hero-bg">
      <h1 class="hero-title visually-hidden">Simply chocolate</h1>
      <h3 class="hero-subtitle">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h3>
      <div class="hero-footer">
        <div class="hero-buttons">
          <button type="button" class="button-brand">Buy now</button>
          <button type="button" class="button-brand-ghost">
            How it&apos;s made
          </button>
        </div>
        <div class="scroll-down">
          <span>scroll down</span>
          <a href="#footer" class="scroll-link link">
            <svg class="icon-scroll-down">
              <use href="./img/sprite.svg#scroll-down"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
