<section class="how-its-made section">
  <div class="container">
    <h2 class="secondary-title">How it's<span class="name"> made?</span></h2>
    <div class="chocolate">
      <div class="frame_wrapper">
        <div class="youtube-container">
          <div
            class="youtube-player"
            data-id="JtaNNcmdA7g"
            data-thumbnail="/img/how-made/how-made-desktop.jpg"
          ></div>
        </div>
      </div>

      <div class="container-text">
        <div class="container-section">
          <h3 class="section-subtitle">
            Try our chocolates today and discover the perfect balance of flavor
          </h3>
          <ul width="452" height="260" class="section-text list">
            <li width="" height="">
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </li>
            <li width="" height="" >
              At the same time, prepare a water bath. Melt the butter on it
            </li>
            <li width="" height="" >
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </li>
            <li width="" height="" >Heat the mixture over low heat, letting it barely boil.</li>
            <li width="" height="" >
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
