<section class="how-its-made section">
  <div class="container">
    <h2 class="secondary-title">How it's<span class="name"> made?</span></h2>
    <div class="chocolate">
      <div class="frame_wrapper">
        <div class="youtube-container">
          <div
            class="youtube-player"
            data-id="JtaNNcmdA7g"
            data-thumbnail="/img/how-made/how-made-desktop.jpg"
          ></div>
        </div>
      </div>
<!-- TEXT -->
      <div class="container-section">
        <h3 class="section-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="section-text list">
          <li class="disc">
             <svg class="icon-disc">
              <use
              href="../img/sprite.svg#disc">
              </use>
            </svg>
            <p> 
              Heat the milk in a saucepan without bringing it to a boil. Add
               sugar and cocoa powd
               er.
              </p>
          </li>
          <li class="disc">
              <svg class="icon-disc">
                <use
                href="../img/sprite.svg#disc">
                </use>
              </svg>
            <p>
              At the same time, prepare a water bath. Melt the butter on it
            </p>
          </li>
          <li class="disc">
              <svg class="icon-disc">
                <use
                href="../img/sprite.svg#disc">
                </use>
              </svg>
           <p> 
            "Mix" the milk mixture and already liquid butter. Mix thoroughly
            with a silicone spatula so that the mass becomes uniform and
            silky.
          </p>
          </li>
          <li class="disc">
            <svg class="icon-disc">
              <use
              href="../img/sprite.svg#disc">
              </use>
            </svg>
            <p>
              Heat the mixture over low heat, letting it barely boil.
            </p>
          </li>
          <li class="disc">  
          <svg class="icon-disc">
            <use
            href="../img/sprite.svg#disc">
            </use>
          </svg>
            <p>
              Pour the chocolate into special containers (can be replaced with
            ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
