<section class="our-products section">
  <div class="container">
    <h2 id="our-products" class="o_p-title"><span>our</span> products</h2>
    <div class="o_p-list slick__list responsive list">
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/orange@2x.jpg"
            src="../img/our-products/orange.jpg"
            alt="Dark chocolate, Name - 'Orange'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">orange</h3>
            <p class="o_p-name-product">Dark chocolate</p>
            <span class="o_p-card-price">45 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/apple-cranberry@2x.jpg"
            src="../img/our-products/apple-cranberry.jpg"
            alt="Milk chocolate, Name - 'apple&cranberry'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">apple&cranberry</h3>
            <p class="o_p-name-product">Milk chocolate</p>
            <span class="o_p-card-price">50 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/lime-seasalt@2x.jpg"
            src="../img/our-products/lime-seasalt.jpg"
            alt="Dark chocolate, Name - 'lime&sea salt'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">lime&sea salt</h3>
            <p class="o_p-name-product">Dark chocolate</p>
            <span class="o_p-card-price">66 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/pineapple@2x.jpg"
            src="../img/our-products/pineapple.jpg"
            alt="Dark chocolate, Name - 'pineapple'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">pineapple</h3>
            <p class="o_p-name-product">Dark chocolate</p>
            <span class="o_p-card-price">54 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/classic@2x.jpg"
            src="../img/our-products/classic@2x.jpg"
            alt="Milk chocolate, Name - 'classic'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">classic</h3>
            <p class="o_p-name-product">Milk chocolate</p>
            <span class="o_p-card-price">45 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/honey@2x.jpg"
            src="../img/our-products/honey.jpg"
            alt="Milk chocolate, Name - 'honey'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">honey</h3>
            <p class="o_p-name-product">Milk chocolate</p>
            <span class="o_p-card-price">50 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/roasted-fruits@2x.jpg"
            src="../img/our-products/roasted-fruits.jpg"
            alt="Dark chocolate, Name - 'roasted fruits'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">roasted fruits</h3>
            <p class="o_p-name-product">Dark chocolate</p>
            <span class="o_p-card-price">66 UAH</span>
          </div>
        </div>
      </div>
      <div class="o_p-item slick__item">
        <div class="slick__box">
          <img
            srcset="../img/our-products/classic-white@2x.jpg"
            src="../img/our-products/classic-white.jpg"
            alt="White chocolate, Name - 'classic'"
            width="230"
          />
          <div class="o_p-card-block">
            <h3 class="o_p-card-name">classic</h3>
            <p class="o_p-name-product">White chocolate</p>
            <span class="o_p-card-price">54 UAH</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
