<section class="our-products">
  <div class="container">
    <h2 class="o_p-title"><span>OUR</span> PRODUCTS</h2>
    <ul class="o_p-list">
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/orange@2x.jpg"
              src="../img/our-products/orange.jpg"
              alt="Dark chocolate, Name - 'Orange'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">ORANGE</h3>
              <p class="o_p-name-product">Dark chocolate</p>
              <p class="o_p-card-price">45 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/apple-cranberry@2x.jpg"
              src="../img/our-products/apple-cranberry.jpg"
              alt="Milk chocolate, Name - 'APPLE&CRANBERRY'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">APPLE&CRANBERRY</h3>
              <p class="o_p-name-product">Milk chocolate</p>
              <p class="o_p-card-price">50 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/lime-seasalt@2x.jpg"
              src="../img/our-products/lime-seasalt.jpg"
              alt="Dark chocolate, Name - 'LIME&SEA SALT'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">LIME&SEA SALT</h3>
              <p class="o_p-name-product">Dark chocolate</p>
              <p class="o_p-card-price">66 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/pineapple@2x.jpg"
              src="../img/our-products/pineapple.jpg"
              alt="Dark chocolate, Name - 'PINEAPPLE'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">PINEAPPLE</h3>
              <p class="o_p-name-product">Dark chocolate</p>
              <p class="o_p-card-price">54 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/classic@2x.jpg"
              src="../img/our-products/classic@2x.jpg"
              alt="Milk chocolate, Name - 'CLASSIC'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">CLASSIC</h3>
              <p class="o_p-name-product">Milk chocolate</p>
              <p class="o_p-card-price">45 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/honey@2x.jpg"
              src="../img/our-products/honey.jpg"
              alt="Milk chocolate, Name - 'HONEY'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">HONEY</h3>
              <p class="o_p-name-product">Milk chocolate</p>
              <p class="o_p-card-price">50 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/roasted-fruits@2x.jpg"
              src="../img/our-products/roasted-fruits.jpg"
              alt="Dark chocolate, Name - 'ROASTED FRUITS'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">ROASTED FRUITS</h3>
              <p class="o_p-name-product">Dark chocolate</p>
              <p class="o_p-card-price">66 UAH</p>
            </div>
          </a>
        </div>
      </li>
      <li class="o_p-item">
        <div class="responsive">
          <a href="" class="gallery-link">
            <img
              srcset="../img/our-products/classic-white@2x.jpg"
              src="../img/our-products/classic-white.jpg"
              alt="White chocolate, Name - 'CLASSIC'"
              width="230"
            />
            <div class="o_p-card-block">
              <h3 class="o_p-card-name">CLASSIC</h3>
              <p class="o_p-name-product">White chocolate</p>
              <p class="o_p-card-price">54 UAH</p>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>
