<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">
      <span class="title-brand">chocolate </span>is loved
    </h2>

    <div class="reviews__list responsive">
      <div class="reviews__item">
        <div class="reviews__box">
          <div class="reviews-wrapper-image">
            <img
              class="reviews-logo"
              srcset="
                ../img/reviews/victoria.jpg    1x,
                ../img/reviews/victoria@2x.jpg 2x
              "
              src="../img/reviews/victoria.jpg"
              alt="Victoria Dobrzhanska"
              width="80"
              height="80"
            />
          </div>
          <h3 class="reviews-item-title">Victoria Dobrzhanska</h3>
          <p class="reviews-item-text">
            I love this chocolate bar. Perfect combination of light crispy
            wafer, covered in a thin layer chocolate.
          </p>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__box">
          <div class="reviews-wrapper-image">
            <img
              class="reviews-logo"
              srcset="
                ../img/reviews/nazar.jpg    1x,
                ../img/reviews/nazar@2x.jpg 2x
              "
              src="../img/reviews/nazar.jpg"
              alt="Nazar Babenko"
              width="80"
              height="80"
            />
          </div>
          <h3 class="reviews-item-title">Nazar Babenko</h3>
          <p class="reviews-item-text">
            This chocolate confection is a delight! A delight! The wafer is
            light and crisp, the hazelnut cream is smooth, and the chocolate is
            good.
          </p>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__box">
          <div class="reviews-wrapper-image">
            <img
              class="reviews-logo"
              srcset="
                ../img/reviews/olena.jpg    1x,
                ../img/reviews/olena@2x.jpg 2x
              "
              src="../img/reviews/olena.jpg"
              alt="Olena Kampusch"
              width="80"
              height="80"
            />
          </div>

          <h3 class="reviews-item-title">Olena Kampusch</h3>
          <p class="reviews-item-text">
            Chocolate is a family favourite treat. Love the delicious smooth
            chocolate and the creaminess inside. The wafer is soft but crunchy.
          </p>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__box">
          <div class="reviews-wrapper-image">
            <img
              class="reviews-logo"
              srcset="
                ../img/reviews/natalia.jpg    1x,
                ../img/reviews/natalia@2x.jpg 2x
              "
              src="../img/reviews/natalia.jpg"
              alt="Natalia Sus"
              width="80"
              height="80"
            />
          </div>
          <h3 class="reviews-item-title">Natalia Sus</h3>
          <p class="reviews-item-text">
            The chocolate assortment was delicious. Both dark and milk chocolate
            pieces were smooth and just right on the sweetness level.
          </p>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__box">
          <div class="reviews-wrapper-image">
            <img
              class="reviews-logo"
              srcset="
                ../img/reviews/danilo.jpg    1x,
                ../img/reviews/danilo@2x.jpg 2x
              "
              src="../img/reviews/danilo.jpg"
              alt="Danilo Nottingham"
              width="80"
              height="80"
            />
          </div>
          <h3 class="reviews-item-title">Danilo Nottingham</h3>
          <p class="reviews-item-text">
            This is delicious. It so rich and flavorful you don’t need to use as
            many. I love topping an apple with almond butter and these chips for
            a snack.
          </p>
        </div>
      </div>

      <div class="reviews__item">
        <div class="reviews__box">
          <div class="reviews-wrapper-image">
            <img
              class="reviews-logo"
              srcset="
                ../img/reviews/irina.jpg    1x,
                ../img/reviews/irina@2x.jpg 2x
              "
              src="../img/reviews/irina.jpg"
              alt="Irina Tydnyuk"
              width="80"
              height="80"
            />
          </div>
          <h3 class="reviews-item-title">Irina Tydnyuk</h3>
          <p class="reviews-item-text">
            This is simply the best chocolate around, and I'm just thrilled to
            support a local company! Best local chocolate - world class :)
          </p>
        </div>
      </div>
    </div>
    <button class="reviews-button" type="button">Leave a review</button>
  </div>

  <!-- in progress -->
  <div class="backdrop-reviews">
    <div class="reviews-modal modal modal1" data-modal="1">
      <button class="reviews-button-close js-modal-close">
        <svg width="13" height="13" class="reviews-modal-icon">
          <use href="../img/sprite.svg#close"></use>
        </svg>
      </button>
      <h2 class="reviews-modal-title">
        Leave a review about <span>our chocolate</span>
      </h2>

      <form class="reviews-modal-form" name="reviews">
        <div class="reviews-modal-wrapper">
          <label class="visually-hidden" for="name">Name</label>
          <input
            id="name"
            class="reviews-modal-input"
            type="text"
            name="name"
            placeholder="Name"
            required
          />
        </div>

        <div class="reviews-modal-wrapper">
          <label class="visually-hidden" for="email">Email</label>
          <input
            id="email"
            class="reviews-modal-input"
            type="email"
            name="email"
            placeholder="Email"
            required
          />
        </div>

        <div class="reviews-modal-wrapper review-modal-phone-wrapper">
          <label class="visually-hidden" for="phone">Phone number</label>
          <input
            id="phone"
            class="reviews-modal-input phone-input"
            type="number"
            name="phone"
            placeholder="Phone number"
            required
          />

          <div class="phone-inner">
            <svg width="24" height="18">
              <use href="../img/sprite.svg#flag-ua"></use>
            </svg>
            <span class="phone-inner-code">+380</span>
          </div>
        </div>

        <label class="visually-hidden" for="phone">Your review</label>
        <textarea
          id="review-about"
          class="reviews-modal-textarea"
          type="text"
          name="review-about"
          placeholder="Enter text"
        ></textarea>

        <button type="button" class="review-modal-button">Send</button>
      </form>
    </div>
  </div>
</section>
