<section id="top-sellers" class="top-sellers">
  <div class="container">
    <h2 class="top-sellers-title">
      <span class="akcent-title">top</span> sellers
    </h2>
    <ul class="top-sellers-list list">
      <li class="top-sellers-showcase">
        <img
          srcset="../img/top-sellers/nut-desktop@2x.jpg 2x"
          src="../img/top-sellers/nut-desktop.jpg"
          alt="black chocolate, coffee & nuts"
          width="368"
          height="464"
        />
        <div class="top-sellers-for-mobile">
          <p class="top-sellers-comment-mobile">
            Crazy enough chocolate originates from a bean just like the coffee
            bean called Cacao. Cacao has been around for thousands of years and
            was first discovered by the Native American tribe called the Mayans.
          </p>
        </div>
      </li>
      <li class="top-sellers-showcase">
        <img
          srcset="../img/top-sellers/chocolate-desktop@2x.jpg"
          src="../img/top-sellers/chocolate-desktop.jpg"
          alt="milk chocolate with caramel, mint & cinnamon"
          width="368"
          height="464"
        />
      </li>
      <li class="top-sellers-showcase">
        <img
          class="candy"
          srcset="../img/top-sellers/candy-desktop@2x.jpg"
          src="../img/top-sellers/candy-desktop.jpg"
          alt="black & milk chocolate"
          width="368"
          height="464"
        />
      </li>
    </ul>
    <div class="top-sellers-for-tablet">
      <p class="top-sellers-comment-tablet">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button
        type="button"
        class="buy-button-brand js-open-modal"
        data-modal="3"
      >
        Buy now
      </button>
    </div>
  </div>
</section>
